name: Dict-Linux-Pro

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1.5.1
        with:
          flutter-version: '2.5.0'
          channel: 'stable'

      - name: install Flutter SDK
        run: sudo snap install flutter --classic

      - name: enable desktop development mode
        run: flutter config --enable-linux-desktop
